In [2]:
num=float(input("enter a number:"))
sqrt=num**0.5
print("square root:",sqrt)

enter a number:9
square root: 3.0

In [8]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
temp = num1
num1 = num2
num2 = temp
print("First number:", num1)
print("Second number:", num2)

Enter first number: 5
Enter second number: 8
First number: 8.0
Second number: 5.0

In [16]:
x=int(input("enter a number: "))
if x==0:
      print("zero")

elif x>0:
     print("positive")

else:
     print("negative")

enter a number: 0
zero

In [22]:
x=int(input())
if x%2==0:
  print("even")
else:
  print("odd")

5
odd

In [35]:
x=int(input())
fact =  1
for i in range(1, x+1):

  fact=fact*i
print("The factorial of", num, "is", fact)

5
The factorial of 5 is 120

In [36]:
import pandas as pd
data={'name': ['alice', 'bob', 'charlie',],
      'age': [25, 20, 22],
      'city': ['new york', 'san francisco', 'los angeles']}
df=pd.DataFrame(data)
print(df)

      name  age           city
0    alice   25       new york
1      bob   20  san francisco
2  charlie   22    los angeles